[client]
default-character-set=utf8
#default-collation=utf8_general_ci
 
[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
default-storage-engine=INNODB
 
[mysql]
default-character-set=utf8
