[mysqld]
binlog_format=mixed
transaction-isolation=READ-COMMITTED
max_heap_table_size = 32M
innodb_file_per_table=1

#read_buffer_size = 2M
#read_rnd_buffer_size = 16M
#sort_buffer_size = 32M
#join_buffer_size = 32M
#thread_cache_size = 8
#thread_concurrency = 8
#query_cache_limit = 32M
#query_cache_size = 32M
#thread_stack = 192K
#tmp_table_size = 256M

#innodb_data_file_path = ibdata1:50M
#innodb_additional_mem_pool_size = 32M
#innodb_buffer_pool_size = 1G
#innodb_write_io_threads = 64
#innodb_read_io_threads = 64
#innodb_thread_concurrency = 0
